

@font-face {
    font-family: Titillium;
    src: url("../fonts/Titillium/Titillium-Thin.otf");
    font-weight: 100;
    /* font-style: italic, oblique; */
}
@font-face {
    font-family: Titillium;
    src: url("../fonts/Titillium/Titillium-Regular.otf");
    font-weight: 400;
}
@font-face {
    font-family: Titillium;
    src: url("../fonts/Titillium/Titillium-Semibold.otf");
    font-weight: 500;
}
@font-face {
    font-family: Titillium;
    src: url("../fonts/Titillium/Titillium-Bold.otf");
    font-weight: 700; 
}