
/*font weght*/
/*Nexa font we are using have only 2 types - regular and bold*/

$thin: 100;
$normal: 400;
$semibold: 500;
$bold: 700;




/* padding */
$padding-1: 0.5rem;
$padding-2: 1rem;
$padding-3: 1.5rem;
$padding-4: 2rem;


/* colors */

$primary: #000;
$text-light: #fff;
$text-dark: #000;
$bg-light: #fff;
$bg-dark: #000;

$secondary: #0099ff;
$secondary-gradient: #0066ff;




/* height and width */
$content-width: 1024px;
$header-height: 6rem;
$social-height: 20rem;



$aside-line: 3px;
$text-primary: #000;





$breakpoint: 800px;